<!DOCTYPE html>

{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% load static %}

<html lang="en" dir="ltr">

    <head>
        <title>{% trans 'Email Confirmed' %}</title>
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="robots" content="NONE,NOARCHIVE">
        <style>
			{% include "staticfiles/admin/css/base.css" %}
            {% include "staticfiles/admin/css/nav_sidebar.css" %}
            {% include "staticfiles/admin/css/login.css" %}
            .login .signup-row {
                text-align: center;
            }
            .login .submit-row {
                padding: .75rem 1.5rem;
                text-align: center;
                width: 100%;
                box-sizing: border-box;
            }

        </style>
    </head>


    <body class=" login" data-admin-utc-offset="25200">
        <!-- Container -->
        <div id="container">
        <!-- Header -->
        <div id="header">
            <div id="branding">
                <h1>{% trans 'E-mail Address Confirmed' %}</h1>
            </div>
        </div>
        <!-- END Header -->
    
        <div class="main shifted" id="main">
            <div class="content">
                <!-- Content -->
                <div id="content" class="colM">
                    {% user_display email_address.user as user_display %}
                
        			 <p>
        			    {% blocktrans with email_address.email as email %}You have confirmed that 
        			    <a href="mailto:{{ email }}">{{ email }}</a> 
        			    is an e-mail address for user {{ user_display }}.{% endblocktrans %}
        			 </p>     
	                    
		             <div class="signup-row">
		                {% trans "Back to" %} <a href="{% url 'home' %}">{% trans "login" %}</a> {% trans "page." %}
		             </div>
                     
                     <br class="clear">
                </div>
                <!-- END Content -->
                
                <div id="footer"></div>
                </div>
            </div>
        </div>
        <!-- END Container -->
    </body>
</html>




