<!DOCTYPE html>

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}
{% load static %}

<html lang="en" dir="ltr">

    <head>
        <title>{% trans 'Verified Email' %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/nav_sidebar.css' %}">
        <script src="{% static 'admin/js/nav_sidebar.js' %}" defer></script>
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive.css' %}">
        <meta name="robots" content="NONE,NOARCHIVE">
        <style>
            .login .signup-row {
                text-align: center;
            }
            .login .submit-row {
                padding: .75rem 1.5rem;
                text-align: center;
                width: 100%;
                box-sizing: border-box;
            }

        </style>
    </head>


    <body class=" login" data-admin-utc-offset="25200">
        <!-- Container -->
        <div id="container">
        <!-- Header -->
        <div id="header">
            <div id="branding">
                <h1>{% trans 'Please verify your e-mail address' %}</h1>
            </div>
        </div>
        <!-- END Header -->
    
        <div class="main shifted" id="main">
            <div class="content">
                <!-- Content -->
                <div id="content" class="colM">
                    {% url 'account_email' as email_url %}
				
			        <p>{% blocktrans %}This part of the site requires us to verify that
			        you are who you claim to be. For this purpose, we require that you
			        verify ownership of your e-mail address. {% endblocktrans %}</p>
			
			        <p>{% blocktrans %}We have sent a request to validate your e-mail. 
			        Please click on the link inside this e-mail. for verification.Please 
			        follow the instructions provided with that email to finalize the registration 
			        process and contact us if you have further issues or questions.{% endblocktrans %}</p>
			        
			        <div class="signup-row">
			            <p>{% blocktrans %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail address</a>.{% endblocktrans %}</p>
                        
                        <p>{% trans "Back to" %} <a href="{% url 'home' %}">{% trans "login" %}</a> {% trans "page." %}</p>
	                </div>    
                     
                     <br class="clear">
                </div>
                <!-- END Content -->
                
                <div id="footer"></div>
                </div>
            </div>
        </div>
        <!-- END Container -->
    </body>
</html>










































